<header id="header">
    <!-- Nav -->
    <div id="nav" class="">
      <!-- Main Nav -->
      <div id="nav-fixed" class="slide-down">
        <div class="container">
          <!-- logo -->
          <div class="nav-logo">
            <a routerLink="/" (click)="!!onCategoryClicked(1)" class="logo"><img src="./assets/img/logo.png" style="max-width:120px;" alt=""></a>
          </div>
          <!-- /logo -->

          <!-- nav -->
          <ul class="nav-menu nav navbar-nav">
            <li><a routerLink="/" (click)="!!onCategoryClicked(1)">Gündem</a></li>
            <li><a routerLink="/" (click)="!!onCategoryClicked(2)">Magazin</a></li>
            <li class="cat-1"><a routerLink="/" (click)="!!onCategoryClicked(3)">Siyaset</a></li>
            <li class="cat-2"><a routerLink="/" (click)="!!onCategoryClicked(4)">Spor</a></li>
            <li class="cat-3"><a routerLink="/" (click)="!!onCategoryClicked(5)">Ekonomi</a></li>
            <li class="cat-4"><a routerLink="/" (click)="!!onCategoryClicked(6)">Dünya</a></li>
          </ul>
          <!-- /nav -->

          <!-- search & aside toggle -->
          <div class="nav-btns">
            <button class="aside-btn"><i class="fa fa-bars"></i></button>
            <button class="search-btn"><i class="fa fa-search"></i></button>
            <div class="search-form">
              <input class="search-input" type="text" name="search" placeholder="Arama ...">
              <button class="search-close"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /search & aside toggle -->
        </div>
      </div>
      <!-- /Main Nav -->

      <!-- Aside Nav -->
      <div id="nav-aside" class="">
        <!-- nav -->
        <div class="section-row">
          <ul class="nav-aside-menu">
            <li><a href="">Ana Sayfa</a></li>
            <li><a href="">Hakkımızda</a></li>
            <li><a href="">Duyurular</a></li>
            <li><a href="">Reklam</a></li>
            <li><a href="">İletişim</a></li>
          </ul>
        </div>
        <!-- /nav -->

        <!-- widget posts -->
        <!-- <div class="section-row">
          <h3>Recent Posts</h3>
          <div class="post post-widget">
            <a class="post-img" href=""><img src="" alt=""></a>
            <div class="post-body">
              <h3 class="post-title"><a href="">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
            </div>
          </div>

          <div class="post post-widget">
            <a class="post-img" href=""><img src="" alt=""></a>
            <div class="post-body">
              <h3 class="post-title"><a href="">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>
            </div>
          </div>

          <div class="post post-widget">
            <a class="post-img" href=""><img src="" alt=""></a>
            <div class="post-body">
              <h3 class="post-title"><a href="">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>
            </div>
          </div>
        </div> -->
        <!-- /widget posts -->

        <!-- social links -->
        <div class="section-row">
          <h4>Bizi takip edin</h4>
          <ul class="nav-aside-social">
            <li><a ><i class="fa fa-facebook"></i></a></li>
            <li><a ><i class="fa fa-twitter"></i></a></li>
            <li><a ><i class="fa fa-google-plus"></i></a></li>
            <li><a ><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <!-- /social links -->

        <!-- aside nav close -->
        <button class="nav-aside-close"><i class="fa fa-times"></i></button>
        <!-- /aside nav close -->
      </div>
      <!-- Aside Nav -->
    </div>
    <!-- /Nav -->
  </header>