		<!-- section -->
		<div class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <!-- Post content -->
            <div class="col-md-8">
              <div class="section-row sticky-container">
                <div class="main-post">
                  
                  <h3>{{ newsItem.detail.description }}</h3>

                 
                      <!-- <img class="center-block" src="{{ newsItem.detail.img.url }}"> -->
                      <figure class="figure-img" *ngIf="isNoImageIn(newsItem)">
                          <img class="img-responsive center-block" src="{{ newsItem.detail.img.url }}" alt="">
                          <figcaption></figcaption>
                        </figure>
                    

                  <!-- <div *ngFor="let content of newsItem.detail.contents"> -->
                    <ng-template ngFor let-content [ngForOf]="newsItem.detail.contents">

                      <h3 *ngIf="content.entity == 2"><blockquote class="blockquote">{{ content.text }}</blockquote></h3>
                      <p *ngIf="content.entity == 3">{{ content.text }}</p>
            
                      <!-- <div class="text-center" > -->
                        <!-- <img class="center-block" width="{{ content.width }}" height="{{ content.height }}" src="{{ content.url }}"> -->
                        <figure class="figure-img" *ngIf="content.entity == 4">
                            <img class="img-responsive center-block" src="{{ content.url }}" alt="">
                            <figcaption></figcaption>
                          </figure>
                      <!-- </div> -->
            
                      <!-- <div *ngIf="content.entity == 5" class="text-center"> -->
                          <figure class="figure-img">
                        <video class="img-responsive center-block" *ngIf="content.entity == 5" controls>
                          <source src="{{ content.url }}" type="video/mp4">
                          <source src="movie.ogg" type="video/ogg">
                          Your browser does not support the video tag.
                        </video>
                          </figure>
                      <!-- </div> -->

                      <!-- <blockquote class="blockquote">
                          blockquote
                        </blockquote> -->

                      </ng-template>
                    <!-- </div> -->





                  <!-- <p>If that's what you think how bout the other way around? How can you evaluate content without design? No typography, no colors, no layout, no styles, all those things that convey the important signals that go beyond the mere textual, hierarchies of information, weight, emphasis, oblique stresses, priorities, all those subtle cues that also have visual and emotional appeal to the reader. Rigid proponents of content strategy may shun the use of dummy copy but then designers might want to ask them to provide style sheets with the copy decks they supply that are in tune with the design direction they require.</p>
                  <h3>Summing up, if the copy is diverting attention from the design it’s because it’s not up to task.</h3>
                  <p>Typographers of yore didn't come up with the concept of dummy copy because people thought that content is inconsequential window dressing, only there to be used by designers who can’t be bothered to read. Lorem Ipsum is needed because words matter, a lot. Just fill up a page with draft copy about the client’s business and they will actually read it and comment on it. They will be drawn to it, fiercely. Do it the wrong way and draft copy can derail your design review.</p>
                 -->
                 <p></p>
                </div>
                <div class="post-shares sticky-shares">
                  <a  class="share-facebook"><i class="fa fa-facebook"></i></a>
                  <a  class="share-twitter"><i class="fa fa-twitter"></i></a>
                  <a  class="share-google-plus"><i class="fa fa-google-plus"></i></a>
                  <a  class="share-pinterest"><i class="fa fa-pinterest"></i></a>
                  <a  class="share-linkedin"><i class="fa fa-linkedin"></i></a>
                  <a ><i class="fa fa-envelope"></i></a>
                </div>
              </div>
  
              <!-- ad -->
              <div class="section-row text-center">
                <a  style="display: inline-block;margin: auto;">
                  <img class="img-responsive" src="https://source.unsplash.com/random/728x90" alt="">
                  Reklam
                </a>
              </div>
              <!-- ad -->
              
              <!-- author -->
              <!-- <div class="section-row">
                <div class="post-author">
                  <div class="media">
                    <div class="media-left">
                      <img class="media-object" src="./news-item_files/author.png" alt="">
                    </div>
                    <div class="media-body">
                      <div class="media-heading">
                        <h3>John Doe</h3>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <ul class="author-social">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- /author -->
  
              <!-- comments -->
              <div class="section-row">
                <div class="section-title">
                  <h2>Yorumlar</h2>
                </div>
  
                <div class="post-comments">
                  <!-- comment -->
                  <div class="media">
                    <div class="media-left">
                      <img class="media-object" src="./assets/img/avatar.png" alt="">
                    </div>
                    <div class="media-body">
                      <div class="media-heading">
                        <h4>Yorum 1</h4>
                        <span class="time">{{ today | date: 'dd/MM/yyyy HH:mm'  }}</span>
                        <a  class="reply">Cevapla</a>
                      </div>
                      <p>Çok iyi de oldu çok güzel iyi oldu taam mı.</p>
  
                      <!-- comment -->
                      <div class="media">
                        <div class="media-left">
                          <img class="media-object" src="./assets/img/avatar.png" alt="">
                        </div>
                        <div class="media-body">
                          <div class="media-heading">
                            <h4>Cevap 1</h4>
                            <span class="time">{{ today | date: 'dd/MM/yyyy HH:mm'  }}</span>
                            <a  class="reply">Cevapla</a>
                          </div>
                          <p>Ha aralarında bi fark kaldı, o farklan çok güzel oldu.</p>
                        </div>
                      </div>
                      <!-- /comment -->
                    </div>
                  </div>
                  <!-- /comment -->
  
                  <!-- comment -->
                  <div class="media">
                    <div class="media-left">
                      <img class="media-object" src="./assets/img/avatar.png" alt="">
                    </div>
                    <div class="media-body">
                      <div class="media-heading">
                        <h4>Yorum 2</h4>
                        <span class="time">{{ today | date: 'dd/MM/yyyy HH:mm'  }}</span>
                        <a class="reply">Cevapla</a>
                      </div>
                      <p>Eyyorlamam bu kadar.</p>
                    </div>
                  </div>
                  <!-- /comment -->
                </div>
              </div>
              <!-- /comments -->
  
              <!-- reply -->
              <div class="section-row">
                <div class="section-title">
                  <h2>Yorum yaz</h2>
                  <p>Email adresiniz paylaşılmaz</p>
                </div>
                <form class="post-reply">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <span>Adınız *</span>
                        <input class="input" type="text" name="name">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <span>Email *</span>
                        <input class="input" type="email" name="email">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <span>Website</span>
                        <input class="input" type="text" name="website">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="input" name="message" placeholder="Mesajınız"></textarea>
                      </div>
                      <button class="primary-button">Gönder</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /reply -->
            </div>
            <!-- /Post content -->
  
            <!-- aside -->
            <app-aside></app-aside>
            <!-- /aside -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /section -->