<app-header></app-header>

<!-- <app-news-list></app-news-list> -->
<router-outlet></router-outlet>


<!-- Footer -->
<footer id="footer">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-5">
        <div class="footer-widget">
          <div class="footer-logo">
            <a href="" class="logo"><img src="./assets/img/logo.png" style="max-width:120px;" alt=""></a>
          </div>
          <ul class="footer-nav">
            <li><a href="">Yazarlar</a></li>
            <li><a href="">Künye</a></li>
          </ul>
          <div class="footer-copyright">
            <span>© 
            HaberX 2018 Türkiye'nin en hızlı haber sitesi</span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-widget">
              <h3 class="footer-title">Hakkımızda</h3>
              <ul class="footer-links">
                <li><a href="">Hakkımızda</a></li>
                <li><a href="">İletişim</a></li>
                
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-widget">
              <h3 class="footer-title">Kategoriler</h3>
              <ul class="footer-links">
                <li><a href="">Gündem</a></li>
                <li><a href="">Magazin</a></li>
                <li><a href="">Siyaset</a></li>
                <li><a href="">Spor</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="footer-widget">
          <h3 class="footer-title">Haber listemize kaydolun</h3>
          <div class="footer-newsletter">
            <form>
              <input class="input" type="email" name="newsletter" placeholder="Emailiniz">
              <button class="newsletter-btn"><i class="fa fa-paper-plane"></i></button>
            </form>
          </div>
          <ul class="footer-social">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
            <li><a href=""><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</footer>

<!-- <app-news-modal></app-news-modal> -->