<!-- aside -->
<div class="col-md-4">
    <!-- ad -->
    <div class="aside-widget text-center">
      <a style="display: inline-block;margin: auto;">
        <img class="img-responsive" src="https://source.unsplash.com/random/300x250" alt="">
        <br/>
        Reklam
      </a>
    </div>
    <!-- /ad -->

    <!-- post widget -->
    <div class="aside-widget">
      <div class="section-title">
        <h2>Çok Okunanlar</h2>
      </div>

      <div class="post post-widget">
        <a class="post-img" [routerLink]="['/haber', mostReadNewsData[0].detail.id]"><img src="{{ mostReadNewsData[0].imgurl }}" alt=""></a>
        <div class="post-body">
          <h3 class="post-title"><a [routerLink]="['/haber', mostReadNewsData[0].detail.id]">{{ mostReadNewsData[0].title }}</a></h3>
        </div>
      </div>

      <div class="post post-widget">
        <a class="post-img" [routerLink]="['/haber', mostReadNewsData[1].detail.id]"><img src="{{ mostReadNewsData[1].imgurl }}" alt=""></a>
        <div class="post-body">
          <h3 class="post-title"><a [routerLink]="['/haber', mostReadNewsData[1].detail.id]">{{ mostReadNewsData[1].title }}</a></h3>
        </div>
      </div>

      <div class="post post-widget">
        <a class="post-img" [routerLink]="['/haber', mostReadNewsData[2].detail.id]"><img src="{{ mostReadNewsData[2].imgurl }}" alt=""></a>
        <div class="post-body">
          <h3 class="post-title"><a [routerLink]="['/haber', mostReadNewsData[2].detail.id]">{{ mostReadNewsData[2].title }}</a></h3>
        </div>
      </div>

      <div class="post post-widget">
        <a class="post-img" [routerLink]="['/haber', mostReadNewsData[3].detail.id]"><img src="{{ mostReadNewsData[3].imgurl }}" alt=""></a>
        <div class="post-body">
          <h3 class="post-title"><a [routerLink]="['/haber', mostReadNewsData[3].detail.id]">{{ mostReadNewsData[3].title }}</a></h3>
        </div>
      </div>
    </div>
    <!-- /post widget -->

    <!-- post widget -->
    <div class="aside-widget">
      <div class="section-title">
        <h2>Öne Çıkanlar</h2>
      </div>
      <div class="post post-thumb">
        <a class="post-img" [routerLink]="['/haber', featuredNewsData[0].detail.id]"><img src="{{ featuredNewsData[0].imgurl }}" alt=""></a>
        <div class="post-body">
          <div class="post-meta">
            <a class="post-category cat-3" [routerLink]="['/haber', featuredNewsData[0].detail.id]">{{ featuredNewsData[0].channel }}</a>
            <span class="post-date">{{ featuredNewsData[0].detail.publishDateTime | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>
          <h3 class="post-title"><a [routerLink]="['/haber', featuredNewsData[0].detail.id]">{{ featuredNewsData[0].title }}</a></h3>
        </div>
      </div>

      <div class="post post-thumb">
        <a class="post-img" [routerLink]="['/haber', featuredNewsData[1].detail.id]"><img src="{{ featuredNewsData[1].imgurl }}" alt=""></a>
        <div class="post-body">
          <div class="post-meta">
            <a class="post-category cat-2" [routerLink]="['/haber', featuredNewsData[1].detail.id]">{{ featuredNewsData[1].channel }}</a>
            <span class="post-date">{{ featuredNewsData[1].detail.publishDateTime | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>
          <h3 class="post-title"><a [routerLink]="['/haber', featuredNewsData[1].detail.id]">{{ featuredNewsData[1].title }}</a></h3>
        </div>
      </div>
    </div>
    <!-- /post widget -->
    
    <!-- catagories -->
    <div class="aside-widget">
      <div class="section-title">
        <h2>Kategoriler</h2>
      </div>
      <div class="category-widget">
        <ul>
          <li><a href="" class="cat-1">Gündem<span>340</span></a></li>
          <li><a href="" class="cat-2">Magazin<span>74</span></a></li>
          <li><a href="" class="cat-4">Siyaset<span>41</span></a></li>
          <li><a href="" class="cat-3">Spor<span>35</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /catagories -->
    
    <!-- tags -->
    <div class="aside-widget">
      <div class="tags-widget">
        <ul>
            <li><a href="">Türkiye</a></li>
            <li><a href="">Futbol</a></li>
            <li><a href="">Amerika</a></li>
            <li><a href="">İstanbul</a></li>
            <li><a href="">Hava Durumu</a></li>
            <li><a href="">Yemek</a></li>
            <li><a href="">Otomobil</a></li>
            <li><a href="">İnternet</a></li>
            <li><a href="">Teknoloji</a></li>
        </ul>
      </div>
    </div>
    <!-- /tags -->
    
    <!-- archive -->
    <div class="aside-widget">
      <div class="section-title">
        <h2>Arşiv</h2>
      </div>
      <div class="archive-widget">
        <ul>
          <li><a href="">Eylül 2018</a></li>
          <li><a href="">Ağustos 2018</a></li>
          <li><a href="">Temmuz 2018</a></li>
        </ul>
      </div>
    </div>
    <!-- /archive -->
  </div>
  <!-- /aside -->